@page "/Miscellaneous"
@code {private string title = "Miscellaneous";}
<PageTitle>@title</PageTitle>
<h1 class="text-center">@title</h1>

<p><a href="Miscellaneous/CGI">CGI</a></p>
<p><a href="Miscellaneous/HTMLHistory">HTML History</a></p>
<p><a href="Miscellaneous/Overwriting">Overwriting</a></p>
<p><a href="Miscellaneous/PeskyBugs">Pesky Bugs</a></p>
<p><a href="Miscellaneous/RetrievingHierarchicalDataIteratively">Retrieving Hierarchically Recursive Data Iteratively</a></p>
<p><a href="Miscellaneous/WhatIsCMS">What Is CMS</a></p>
