@page "/MFC/CFileSkeleton"
@code {private string title = "CFile";}
<PageTitle>@title</PageTitle>
<h1 class="text-center">@title</h1>

<p>The following is a sample of opening and reading a file using the MFC CFile class.</p>

<pre>	char Buffer[100];
	CFile File;
	CFileException fe;
if (!File.Open(pszPathName, CFile::modeRead, &amp;fe)) {
	fe-&gt;ReportError();
	return FALSE;
	}
TRY {
	while (File.Read(&amp;Buffer, sizeof(Buffer))) {
		// Process data in Buffer
		}
	File.Close();
	}
CATCH_ALL(e) {
	File.Abort(); // will not throw an exception
	e-&gt;ReportError();
	return FALSE;
	}
END_CATCH_ALL</pre>
