@page "/MFC/RegisteredMessages"
@code {private string title = "Using Registered Message Ids";}
<PageTitle>@title</PageTitle>
<h1 class="text-center">@title</h1>

<p>To use a registered message id, at the beginning of every cpp file that will
need the registered message id, such as the CMainFrame-derived class put:</p>

<pre>static UINT NEAR WM_YOURWHATEVERCALLBACKMESSAGE =
		RegisterWindowMessage(&quot;YourWhateverCallbackMessage&quot;);</pre>
<p>Then you can use WM_YOURWHATEVERCALLBACKMESSAGE for a message id. The name
WM_YOURWHATEVERCALLBACKMESSAGE can be whatever name you want, of course.
To process the message, create a message map as in the following:</p>

<pre>BEGIN_MESSAGE_MAP(CMainFrame, CFrameWnd)
    //{{AFX_MSG_MAP(CMainFrame)
    //}}AFX_MSG_MAP
    ON_REGISTERED_MESSAGE(WM_YOURWHATEVERCALLBACKMESSAGE, OnWhateverCallbackMessage)
END_MESSAGE_MAP()</pre>

<p>The following is a sample function for processing the message; it is just the
basics:</p>

<pre>afx_msg LRESULT CMainFrame::OnWhateverCallbackMessage(WPARAM wParam, LPARAM lParam) {
return 0;
}</pre>
