@page "/Linux"
@code {private string title = "Linux";}
<PageTitle>@title</PageTitle>
<h1 class="text-center">@title</h1>

<p><a href="Linux/WSL">Windows Subsystem for Linux</a></p>
<p><a href="Linux/PuppyLinuxInstall">Installing Puppy Linux to a Dedicated Partition</a></p>
<p><a href="Linux/Unix">Unix/Linux Resources</a></p>
