@page "/Linux/Unix"
@code {private string title = "Unix/Linux Resources";}
<PageTitle>@title</PageTitle>
<h1 class="text-center">@title</h1>

<p>The following are sites I have encountered that are useful for Linux. I don't 
	know what is the best site for Linux programming.</p>
<p><a href="http://www.linuxquestions.org">LinuxQuestions.org</a></p>
<p><a href="http://www.tldp.org">The Linux Documentation Project</a></p>
<p><a href="http://www.linux.org">Linux.org</a></p>
<p><a href="https://www.redhat.com">Red Hat</a></p>
