@page "/Windows/ConsoleTimer"
@code {private string title = "Console Timer";}
<PageTitle>@title</PageTitle>
<h1 class="text-center">@title</h1>

<p>The following console program works. It sets a timer using SetTimer
then loops in a message loop. The message loop receives and processes WM_TIMER
messages and the timer callback also is called for each time interval.</p>
<pre style="background-color: #E1E1E1">#define STRICT 1 
#include &lt;windows.h&gt;
#include &lt;iostream.h&gt;

VOID CALLBACK TimerProc(HWND hWnd, UINT nMsg, UINT nIDEvent, DWORD dwTime) {
cout &lt;&lt; &quot;Time: &quot; &lt;&lt; dwTime &lt;&lt; '\n';
cout.flush();
}

int main(int argc, char *argv[], char *envp[]) {
	int Counter=0;
	MSG Msg;
UINT TimerId = SetTimer(NULL, 0, 500, &amp;TimerProc);
cout &lt;&lt; &quot;TimerId: &quot; &lt;&lt; TimerId &lt;&lt; '\n';
if (!TimerId)
	return 16;
while (GetMessage(&amp;Msg, NULL, 0, 0)) {
	++Counter;
	if (Msg.message == WM_TIMER)
		cout &lt;&lt; &quot;Counter: &quot; &lt;&lt; Counter &lt;&lt; &quot;; timer message\n&quot;;
	else
		cout &lt;&lt; &quot;Counter: &quot; &lt;&lt; Counter &lt;&lt; &quot;; message: &quot; &lt;&lt; Msg.message &lt;&lt; '\n';
	DispatchMessage(&amp;Msg);
	}
KillTimer(NULL, TimerId);
return 0;
}</pre>
