@page "/Data"
@code {private string title = "Data";}
<PageTitle>@title</PageTitle>
<h1 class="text-center">@title</h1>

<p><a href="/Data/CreatingHierarchicallyRecursiveTable">Creating a Hierarchically Recursive Table</a></p>
