@page "/CPlusPlus"
@code {private string title = "C++";}
<PageTitle>@title</PageTitle>
<h1 class="text-center">@title</h1>

<p><a href="CPlusPlus/PausingConsoleProgram">Pausing a Console Program</a></p>
<p><a href="CPlusPlus/CreatingStaticLibrary">Creating a Static Library</a></p>
<p><a href="CPlusPlus/Flex">Flex</a>, for generating a syntactic analyzer, such as for a compiler</p>
